.container {
  padding: 10px 25px ;
}
.checkBoxContainer {
  padding: 2px;
}
.checkBoxes {
  margin-bottom: 10px;
}
.directorySelect {
  border-radius: 4px;
  background: rgb(243, 243, 243);
  display: block;
  margin: 5px 0;
}

.directory {
  white-space: nowrap;
  display: inline-block;
  margin-left: 5px;
  max-width: 160px;
  text-overflow: ellipsis;
  direction: rtl;
  overflow: hidden;
  vertical-align: bottom;
}
